apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: node-exporter
  labels:
    app: node-exporter
spec:
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: node-exporter
  template:
    metadata:
      labels:
        app: node-exporter
    spec:
      containers:
        - name: node-exporter
          image: prom/node-exporter:latest
          imagePullPolicy: Always
          args:
            - "--path.procfs=/host/proc"
            - "--path.sysfs=/host/sys"
            - "--path.rootfs=/host/root"
            - "--collector.processes"
            - "--collector.systemd"
            - "--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)"
          ports:
            - containerPort: 9100
          volumeMounts:
            - mountPath: /host/proc
              name: proc              
              readOnly: true
            - mountPath: /host/sys
              name: sys              
              readOnly: true
            - mountPath: /var/run/dbus/system_bus_socket
              name: dbus              
              readOnly: true
            - mountPath: /host/root
              name: root              
              readOnly: true
      volumes:
        - name: proc
          hostPath:
            path: /proc
            type: ""
        - name: sys
          hostPath:
            path: /sys
            type: ""
        - name: dbus
          hostPath:
            path: /var/run/dbus/system_bus_socket
            type: ""
        - name: root
          hostPath:
            path: /
            type: ""
---
apiVersion: v1
kind: Service
metadata:
  name: node-exporter
  annotations:
    prometheus.io/port: "9100"
    prometheus.io/scrape: "true"
spec:
  type: ClusterIP
  selector:
    app: node-exporter
  ports:
    - protocol: TCP
      port: 9100
      targetPort: 9100